# This workflow will do a clean install of node dependencies, build the source code and run tests across different OSs
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: 24
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test
    - name: Run integration tests (Linux)
      run: xvfb-run -a npm run test_with_vscode
      if: runner.os == 'Linux'
    - name: Run integration tests (Windows, macOS)
      run: npm run test_with_vscode
      if: runner.os != 'Linux'
